<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script> -->
    <title>Grades Inquiries System</title>
</head>

<body>
    <div id="app">
        <h1>Grades Inquiries System</h1>
        <div id="header">
            <!-- <label id="search-label" for="search-stu">Course Name</label> -->
            <input id="search-stu" type="text" placeholder="Enter the course name">
        </div>
        <div id="grade-list">Enter the value!</div>
        <div id="course-list">
            <h2>Course List</h2>
        </div>
    </div>

    <script src="/js/all.js"></script>
</body>

</html>